@inject IDialogService DialogService
<div>
    <MudButton OnClick=ShowImage Class="image-btn">
        <MudImage Src="@Image.Url" ObjectFit="ObjectFit.Cover" Elevation="4" Fluid />
    </MudButton>
</div>

 @code {
    [Parameter] public CivitaiImageDto Image { get; set; }
    [Parameter] public EventCallback OnSaveImage { get; set; }

    private async Task ShowImage()
    {
        var options = new DialogOptions() { NoHeader = true };
        var param = new DialogParameters();
        param.Add("Image", Image);
        var dialog = await DialogService.ShowAsync<CivitaiImageDialog>("Image", param, options);
        var result = await dialog.Result;
        if (!result.Canceled)
        {
            if (result.Data == "Save")
            {
                await OnSaveImage.InvokeAsync();
            }
        }
    }
}
