::deep .tabs .mud-tab {
	justify-content: start;
	font-weight: 300;
	text-transform: none;
}

::deep .description {
	height: 20vh;
	overflow: scroll;
}

::deep .images-container {
	height: 70vh;
	overflow: scroll;
	align-content: flex-start;
}

::deep .meta-label {
	opacity: 0.4;
	font-size: 0.7rem;
	margin-bottom: -1rem;
}
