::deep .meta-label {
	opacity: 0.4;
	font-size: 0.7rem;
	margin-bottom: -1rem;
	margin-top: -0.6rem;
}

::deep .mud-input-label {
	opacity: 0.4;
	font-size: 0.7rem;
}

::deep .mud-input-control {
	margin-top: -0.5rem;
}

::deep .full-image {
	max-width: 50vw;
	max-height: 75vh;
}
