div {
  --w: 45rem;
  --h: 45rem;
}

#img-canvas {
  width: var(--w);
  height: var(--h);
  object-fit: contain;
}

#img-work {
  display: none;
}

#canvas-container {
  display: flex;
  align-items:center;
  justify-content: center;
  border: 1px solid var(--app-dark-3);
  border-radius: 0.375rem;
  width: var(--w);
  height: var(--h);
  margin-bottom: 1rem;
  background: var(--app-dark-1);
}

::deep canvas {
  position: absolute;
  cursor: none;
  background: transparent;
  pointer-events: none;
  width: var(--w);
  height: var(--h);
  object-fit: contain;
}

::deep canvas.disable {
  display: none;
}

::deep #canvas-pointer {
  pointer-events: auto;
}

::deep #canvas-work {
  display: none;
}

.dropzone {
  display: none;
  justify-content: center;
  position: absolute;
  width: var(--w);
  height: var(--h);
}

	.dropzone h1 {
		color: var(--app-light-5);
		margin-top: 5rem;
	}

.dropzone.hover {
  display: flex;
  border: 2px solid var(--app-green);
  border-radius: 5px;
}

::deep input[type="file"] {
	display: none;
}

