.nav-tabs {
	--bs-nav-link-color: var(--app-dark-6);
	--bs-nav-tabs-link-active-color: var(--app-blue-5);
	--bs-nav-tabs-link-active-bg: var(--app-dark-1);
	--bs-nav-tabs-link-active-border-color: var(--app-blue-5);
	--bs-nav-tabs-link-hover-border-color: var(--app-blue-5);
	background-color: var(--app-bg);
	border-bottom-color: var(--app-blue-5);
	display:flex;
	justify-content: center;
}

	.nav-tabs button {
		width: 25%;
		margin: 0px 5px;
	}
