@inject DatabaseService DB
@inject ImageService ImageService
@inject JavascriptService JS
@inject AppState AppState
@implements IDisposable
@page "/"

<PageTitle>Blazor Diffusion</PageTitle>

@if(_projects == null || _projects.Count() == 0)
{
	<div class="row" style="color: var(--app-light-2);">
		<div class="col">
			<h2>
				Looks like you haven't created any project yet.<br/>
				<small>Create a new project to store your images.</small>
			</h2>
			<CreateProjectModal>
				<ButtonText>Create Project</ButtonText>
			</CreateProjectModal>
		</div>
	</div>

}
else
{
	<ImagesContainer Images="@images" OnPageSelected="LoadPage" OnDeleteImage="LoadImages"/>
}

@code {
	private ImagesDto images = new();
	private List<Project>? _projects;
	private int currentPage;

	protected override void OnInitialized()
	{
		base.OnInitialized();
		AppState.OnProjectChange += HandleProjectChanged;
	}


	protected override async Task OnInitializedAsync()
	{
		_projects = await DB.GetProjects();
		currentPage = 1;
		await LoadImages();
	}

	private async void LoadPage(int page)
	{
		currentPage = page;
		await LoadImages();
	}

	private async Task LoadImages()
	{
		images = await DB.GetImages(currentPage, AppState.CurrentProjectId);
		await InvokeAsync(StateHasChanged);
	}

	private async Task HandleProjectChanged()
	{
		currentPage = 1;
		await LoadImages();
	}

	public void Dispose() => AppState.OnProjectChange -= HandleProjectChanged;
}
