@inject ImageService ImageService
@page "/"

<PageTitle>Index</PageTitle>

<h3 style="color: var(--app-light-1)">Stable Diffusion WebApp</h3>

<ImagesContainer Images="@images" Title="This is a test!"/>

@code {
	private List<ImageInfoModel?> images = new();

	protected override async Task OnInitializedAsync()
	{
		//image.Image = await io.GetBase64FromFile(@"E:\Downloads\test.png");
		//var text = await io.GetStringFromTxt(@"E:\Downloads\test.txt");
		//parser.ParseImageInfo(image, text);

		images = await ImageService.GetImageInfoFromPath(@"H:\O meu disco\Vault\j7ip64ns2b0bbl4esvurdrl7n4\zoiwettonçzxbioqaanpfosdgin\StableDiffusion\Text-2-Image\_samples\110d33ce\Heun");
	}
}
