@page "/"
@inject DatabaseService DB
@inject AppState AppState
@implements IDisposable

<PageTitle>Blazor Diffusion</PageTitle>

@if (_projects == null)
{
    <MudStack Row Justify="Justify.Center" Style="margin-top: 15rem;">
        <MudProgressCircular Color="Color.Info" Indeterminate />
    </MudStack>
}
else if (_projects.Count() == 0)
{
    <div class="row" style="color: var(--app-light-2);">
        <div class="col">
            <h2>
                Looks like you haven't created any project yet.<br />
                <small>Create a new project to store your images.</small>
            </h2>
            <CreateProjectModal>
                <ButtonText>Create Project</ButtonText>
            </CreateProjectModal>
        </div>
    </div>
}
else
{
    <GallerySettings OnFilterImages="async () => await FilterImages(false)" OnResetFilters="async () => await FilterImages(true)" />
    if (images != null && images.Images != null && images.Images.Count > 0)
    {
        <ImagesContainer Style="margin-bottom: 2rem;" Images="@images" OnPageSelected="async (page) => await LoadPage(page)" OnDeleteImage="async () => await LoadImages()" OnCoverChanged="async () => await InvokeAsync(StateHasChanged)" />
    }
    else
    {
        <MudStack Row Justify="Justify.Center" Style="margin-top: 10rem;">
            <MudProgressCircular Color="Color.Info" Indeterminate />
        </MudStack>
    }
}


@code {
    private ImagesDto images = new();
    private List<Project>? _projects;
    private int currentImgPage;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;
        AppState.OnProjectChangeTask += HandleProjectChanged;
        AppState.OnStateHasChanged += StateHasChanged;
        _projects = await DB.GetProjects(AppState.CurrentFolderId);
        currentImgPage = 1;
        await LoadImages();
    }

    private async Task FilterImages(bool resetFilter)
    {
        currentImgPage = 1;
        AppState.IsGalleryFiltered = !resetFilter;
        await LoadImages();
    }

    private async Task LoadPage(int page)
    {
        currentImgPage = page;
        await LoadImages();
    }

    private async Task LoadImages()
    {
        if (images != null && images.Images != null) images.Images.Clear();
        await InvokeAsync(StateHasChanged);
        if (AppState.IsGalleryFiltered) images = await DB.GetSortedImages(currentImgPage, AppState.CurrentProjectId, AppState.Settings.Gallery);
        else images = await DB.GetImages(currentImgPage, AppState.CurrentProjectId);
        await InvokeAsync(StateHasChanged);
    }

    private async Task HandleProjectChanged()
    {
        currentImgPage = 1;
        await LoadImages();
    }

    public void Dispose()
    {
        AppState.OnProjectChangeTask -= HandleProjectChanged;
        AppState.OnStateHasChanged -= StateHasChanged;
    }
}
