::deep .mud-card-content {
	text-align: center;
	padding: 0.5rem 1rem;
	padding-bottom: 0rem;
}

::deep .info-icon {
	font-size: 0.7rem;
	margin: 0 0.4rem;
	opacity: 0.5;
}

::deep .separator {
	opacity: 0.2;
}
