@inject DatabaseService DB
@inject IDialogService DialogService
@inject ISnackbar Snackbar

<div style="@Style">
    <MudContainer MaxWidth="MaxWidth.Large">
        <MudStack AlignItems="AlignItems.Center">
            @if (Images.Images is not null && Images.Images.Count > 0)
            {
                if (Images.PageCount > 1)
                {
                    <MudPagination BoundaryCount="2" MiddleCount="5" Count="Images.PageCount" Selected=_currentPage SelectedChanged="page => HandlePageChanged(page)" />
                }
                <MudButton OnClick="ShowAllImagesViewerModal" Color="Color.Secondary">Fullscreen</MudButton>
                <MudGrid Class="mt-n7" Spacing="1" Justify="Justify.Center">
                    @if (Images.Images.Count > 0)
                    {
                        @foreach (var image in Images.Images)
                        {
                            <ImageCard Image="@image"  Target="fullscreen-modal" OnSelectImage="ShowImageViewerModal" OnDeleteImage="ShowDeleteImageModal" OnCoverChanged="async () => await OnCoverChanged.InvokeAsync()" />
                        }
                    }
                </MudGrid>
                if (Images.PageCount > 1)
                {
                    <MudPagination BoundaryCount="2" MiddleCount="5" Count="Images.PageCount" Selected=_currentPage SelectedChanged="page => HandlePageChanged(page)" />
                }
            }
            else
            {
                <MudProgressCircular Class="mt-10" Color="Color.Primary" Indeterminate />
            }
        </MudStack>
    </MudContainer>
</div>

@code {
    [Parameter]
    public ImagesDto Images { get; set; }
    [Parameter]
    public EventCallback<int> OnPageSelected { get; set; }
    [Parameter]
    public EventCallback OnDeleteImage { get; set; }
    [Parameter]
    public EventCallback OnCoverChanged { get; set; }
    [Parameter]
    public string Style { get; set; }

    private int _currentPage = 1;

    private void HandlePageChanged(int page)
    {
        _currentPage = page;
        OnPageSelected.InvokeAsync(page);
    }

    private async Task ShowImageViewerModal(Image image)
    {
        var param = new DialogParameters();
        var options = new DialogOptions() { MaxWidth = MaxWidth.Large, CloseButton = true };
        param.Add("Images", new List<Image>() { image });
        DialogService.Show<ImageViewerModal>("", param, options);
        //Refresh();
    }

    private void ShowAllImagesViewerModal()
    {
        var param = new DialogParameters();
        var options = new DialogOptions() { MaxWidth = MaxWidth.ExtraLarge, CloseButton = true };
        param.Add("Images", Images.Images);
        DialogService.Show<ImageViewerModal>("", param, options);
    }

    private async Task ShowDeleteImageModal(Image image)
    {
        var parameters = new DialogParameters();
        parameters.Add("OkButtonText", "Yes");
        parameters.Add("CancelButtonText", "No");
        parameters.Add("OkButtonColor", Color.Error);
        parameters.Add("Content", new MarkupString(@"<span class='lead'>Are you sure you want to <strong class='text-danger'>delete</strong> this image?<br /></span><small>This action is irreversible!</small>"));
        var dialog = await DialogService.ShowAsync<ConfirmationDialogModal>("Delete Image", parameters, new DialogOptions() { CloseButton = true, MaxWidth = MaxWidth.Small });
        var result = await dialog.Result;
        if (!result.Cancelled) await DeleteImage(image);
    }

    private async Task DeleteImage(Image image)
    {
        var response = await DB.DeleteImage(image);
        await OnDeleteImage.InvokeAsync();
        Snackbar.Add("Image deleted successfuly.", Severity.Success);
    }

    private async Task Refresh() => await InvokeAsync(StateHasChanged);
}
