::deep .overlay-icons {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 1rem;
	right: 1rem;
}

.image-number {
	margin-top: -.7rem;
	font-size: 1.8rem;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2.5rem;
	width: 2.5rem;
	z-index: 1000;
	background: var(--mud-palette-black);
	opacity: 0.6;
	color: white;
	border-radius: 50%;
}
