@inject ImageService ImageService
@inject DatabaseService DB

<div>
    <MudDialog Style="max-width: 95vw; max-height: 90vh;">
        <TitleContent>
            <MudButtonGroup>
                @if (Images.Count > 1)
                {
                    <MudButton OnClick="@(() => Carousel.Reference.Previous())"><MudIcon Icon="fa-solid fa-chevron-left" /></MudButton>
                    <MudButton OnClick="@(() => Carousel.Reference.Next())"><MudIcon Icon="fa-solid fa-chevron-right" /></MudButton>
                }
            </MudButtonGroup>
        </TitleContent>
        <DialogContent>
            <ImageCarousel @ref=Carousel Images="Images" MaxWidth="85vw" MaxHeight="80vh" />
        </DialogContent>
    </MudDialog>
</div>

@code {
    [CascadingParameter]
    public MudDialogInstance MudDialog { get; set; }

    [Parameter]
    public List<Image> Images { get; set; }

    public ImageCarousel? Carousel { get; set; } = new();
}
