::deep .overlay-icons {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 1rem;
	right: 1rem;
	background-color: rgba(0,0,0,0.6);
	padding: 0.5rem;
	border-radius: 1rem;
}

.image-number {
	margin-top: -.7rem;
	font-size: 1.8rem;
	font-weight: bold;
	text-align: center;
}
