.modal-content {
	--bs-modal-color: var(--app-light-2);
	--bs-modal-bg: var(--app-dark-2);
	--bs-modal-border-color: var(--app-dark-4);
	--bs-modal-header-border-color: var(--app-dark-6);
	--bs-modal-footer-border-color: var(--app-dark-6);
}

.modal-body {
	background-color: var(--app-dark-4);
}

input {
	color: var(--app-light-2);
	background-color: var(--app-dark-2);
	border: 1px solid var(--app-dark-1);
	box-shadow: none;
}

	input::placeholder {
		color: var(--app-dark-4);
	}

	input:focus {
		color: var(--app-light-2);
		background-color: var(--app-dark-1);
		border: 1px solid var(--app-blue-7);
		box-shadow: none;
	}
