button {
	--dropdown-btn-padding: 0.5rem;
	--dropdown-btn-font-size: 1rem;
	width: 100%;
	overflow: hidden;
	--bs-btn-color: var(--app-light-5);
	--bs-btn-bg: var(--app-dark-1);
	--bs-btn-border-color: var(--app-blue-7);
	--bs-btn-hover-color: var(--app-light-2);
	--bs-btn-hover-border-color: var(--app-blue-5);
	--bs-btn-hover-bg: var(--app-dark-1);
	--bs-btn-active-color: var(--app-blue-5);
	--bs-btn-active-border-color: var(--app-blue-5);
	--bs-btn-active-bg: var(--app-dark-1);
	--bs-btn-disabled-bg: var(--app-dark-1);
	--bs-btn-disabled-color: var(--app-dark-4);
	--bs-btn-disabled-border-color: var(--app-dark-4);
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding: var(--dropdown-btn-padding);
	font-size: var(--dropdown-btn-font-size);
}

ul {
	--bs-dropdown-bg: var(--app-dark-1);
	--bs-dropdown-border-color: var(--app-dark-3);
	--bs-dropdown-link-active-bg: var(--app-blue-5);
}

.dropdown-menu {
	max-height: 400px;
	overflow: scroll;
}
