.modal {
	--bs-modal-color: var(--app-light-2);
	--bs-modal-bg: rgba(0,0,0,0.6);
	--bs-modal-border-width: 0;
	--bs-modal-header-border-width: 0;
}

.modal-header {
	display: flex;
	background: var(--app-dark-1);
}

.row>* {
	padding: 0!important;
}

.btn-fullscreen {
	width: initial;
	padding: 0.4rem 1rem !important;
	margin: 0.5rem 0;
}

::deep .carousel {
	max-height: 90vh;
	height: 90vh;
	width: 100%;
}

::deep .carousel-inner {
	max-height:inherit;
	height: inherit;
	width: inherit;
}

::deep .carousel-item {
	display: flex;
	align-items: center;
	justify-content: center;
	width: inherit;
	height: inherit;
	overflow: hidden;
}

	::deep .carousel-item img {
		max-width: inherit !important;
		width: inherit !important;
		max-height: inherit !important;
		height: inherit !important;
		object-fit: contain;
	}

.header-controls {
	display: flex;
	flex-direction: row;
	width:100%;
	justify-content:center;
}

	.header-controls .btn {
		color: var(--app-light-5);
	}
