h2 {
	color: var(--app-dark-7);
}

.modal-dialog {
	margin-left: auto;
	margin-right: auto;
	overflow: visible;
	transition: all 0.3s ease-in;
}

	.modal-dialog.expanded {
		max-width: 60vw !important;
	}


.modal-dialog-centered {
	align-items: center;
	justify-content: center;
}

.modal-content {
	z-index: 1500;
}

	.modal-content img {
		box-shadow: 0 0 10rem 1rem black;
	}


.modal-controls {
	position: fixed;
	top: 5rem;
	right: 2rem;
	margin: auto;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	z-index: 2000;
}

	.modal-controls.show {
		opacity: 1;
	}
