<div id="generatedImagesCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
        @for (int i = 0; i < Images.Count; i++)
        {
            <div class="carousel-item @(Images[i] == Images[0] ? "active" : "")" data-bs-interval="10000">
                <img src="data:image/png;base64,@Images[i]" class="d-block w-100">
                @if (Images.Count > 1)
                {
                    <div class="image-number">@i</div>
                }
            </div>
        }
    </div>
    @if (Images.Count > 1)
    {
        <button class="carousel-control-prev" type="button" data-bs-target="#generatedImagesCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#generatedImagesCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    }
</div>

@code {
    [Parameter]
    public List<string> Images { get; set; }
}
