@inherits LayoutComponentBase
@inject AppState AppState

<PageTitle>BlazorWebApp</PageTitle>

<div class="page">
	<main>
		<NavBar />

		<article class="content px-4">
			@Body
		</article>
	</main>
</div>

@code {
}
