.progress {
	--bs-progress-height: 1.5rem;
	--bs-progress-font-size: 1rem;
	--bs-progress-bg: var(--app-dark-1);
	--bs-progress-bar-color: var(--app-light-1);
	--bs-progress-bar-bg: var(--app-blue-5);
}
