<EditForm Model="Parameters">
	<div class="col">
		<label class="form-label" for="prompt">Prompt</label>
		<input class="form-control mb-3" placeholder="Enter your prompt here..." id="prompt" @bind-value="@Parameters.Prompt" />

		<label class="form-label" for="negativePrompt">Negative Prompt</label>
		<input class="form-control mb-3" placeholder="Prompt for things you don't want to generate..." id="negativePrompt" @bind-value="@Parameters.NegativePrompt" />
	</div>
</EditForm>

@code {
	[Parameter]
	public Txt2ImgParametersModel Parameters { get; set; }

	[Parameter]
	public EventCallback<Txt2ImgParametersModel> ParametersChanged { get; set; }
}
