label {
	color: var(--app-light-1);
}

#prompt {
	color: greenyellow;
}

#negativePrompt {
	color: var(--bs-danger);
}

.form-control {
	background: var(--app-dark-1);
	border: 1px solid var(--app-dark-1);
	color: var(--app-light-1);
	padding: 1rem;
	font-family: var(--app-font-mono);
}

	.form-control:focus {
		background: var(--app-dark-4);
		color: var(--app-light-1);
		border: var(--app-blue-5);
	}
