@inject JavascriptService JS

<EditForm Model="Parameters">
	<div class="card p-3 mb-3">
		<div class="row">
			<div class="col-9">
				<label class="form-label" for="prompt">Prompt</label>
				<input class="form-control mb-3" placeholder="Enter your prompt here..." id="prompt" @bind-value="@Parameters.Prompt" />

				<label class="form-label" for="negativePrompt">Negative Prompt</label>
				<input class="form-control mb-3" placeholder="Prompt for things you don't want to generate..." id="negativePrompt" @bind-value="@Parameters.NegativePrompt" />
			</div>
			<div class="col-3">
				<StylesSelector />
				<GenerateButton Parameters="Parameters" OnGenerate="OnGenerate" OnSkip="OnSkip" OnInterrupt="OnInterrupt"/>
			</div>
		</div>
	</div>
</EditForm>

@code {
	[Parameter] public Txt2ImgParametersModel Parameters { get; set; }
	[Parameter] public EventCallback OnGenerate { get; set; }
	[Parameter] public EventCallback OnSkip { get; set; }
	[Parameter] public EventCallback OnInterrupt { get; set; }
	[Parameter] public EventCallback<Txt2ImgParametersModel> ParametersChanged { get; set; }
}
