::deep .dropdown button {
	--dropdown-btn-font-size: 0.8rem;
	--dropdown-btn-padding: 12px;
	--bs-btn-border-color: var(--app-dark-3);
}

	::deep .using {
		--bs-btn-bg: var(--app-blue-9);
		--bs-btn-border-color: var(--app-blue-7) !important;
	}
