.brand {
	font-family: 'Helvetica';
	font-size: 1rem;
	font-weight: 300;
}

/*Bootstrap Overrides*/
a:hover {
	color: inherit !important;
}

.generation-info-text {
	margin-top: 1rem;
	white-space: pre-line;
	opacity: 0.4;
}

