<CascadingValue Name="Dropdown" Value="@this">
	<div class="dropdown">
		<button class="btn btn-secondary dropdown-toggle @Modifier" id="@ButtonId" type="button" data-bs-toggle="dropdown" aria-expanded="false" disabled="@IsDisabled">
			@Button
		</button>
		<ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark">
			@Items
		</ul>
	</div>
</CascadingValue>

@code {
	[Parameter] 
	public RenderFragment Button { get; set; }

	[Parameter] 
	public string ButtonText { get; set; }

	[Parameter]
	public string ButtonId { get; set; } = "";

	[Parameter] 
	public RenderFragment Items { get; set; }

	[Parameter] 
	public string Modifier { get; set; }

	[Parameter]
	public bool IsDisabled { get; set; }

	[Parameter] 
	public EventCallback<string> OnSelected { get; set; }

	public async Task HandleSelected(string selected)
	{
		await this.OnSelected.InvokeAsync(selected);
	}
}
