@using System.Text.Json;
@inject IOService IO
@inject ManagerService M

<div>
    <EditForm Model="Parameters">
        <MudPaper Class="pa-6 mb-5 mt-n4">
            <MudGrid>
                <MudItem xs="9">
                    <MudStack>
                        <MudTextField Class="prompt" id="prompt" Lines=_promptLines Label="Prompt" OnAdornmentClick="() => PromptDrawer.Visible = true" Adornment="Adornment.End" AdornmentIcon="fa-solid fa-tags" T="string" @bind-Value=@Parameters.Prompt Clearable Immediate />
                        <MudTextField Class="negative-prompt" id="negativePrompt" Lines=_negativePromptLines Label="Negative Prompt" OnAdornmentClick="() => NegativePromptDrawer.Visible = true" Adornment="Adornment.End" AdornmentIcon="fa-solid fa-tags" T="string" @bind-Value=@Parameters.NegativePrompt Clearable Immediate />
                    </MudStack>
                </MudItem>
                <MudItem xs="3">
                    <MudStack Class="h-100 w-100">
                        <MudChipSet Style="height: 10vh; overflow: scroll;" ReadOnly>
                            @if (M.State.Generation.Styles != null && M.State.Generation.Styles.Count() > 0)
                            {
                                @foreach (var style in M.State.Generation.Styles)
                                {
                                    <MudChip Color="Color.Primary">@style.Name</MudChip>
                                }
                            }
                        </MudChipSet>
                        <MudSelect Label="Styles" Text="" SelectedValues="M.State.Generation.Styles" SelectedValuesChanged=HandleStylesChanged T="PromptStyle" AnchorOrigin="Origin.BottomRight" TransformOrigin="Origin.TopRight" MaxHeight="600" AdornmentIcon="fa-solid fa-delete-left" OnAdornmentClick="() => HandleStylesChanged(new List<PromptStyle>())" Adornment="Adornment.End" MultiSelection>
                            @if (M.Styles != null)
                            {
                                @foreach (var style in M.Styles)
                                {
                                    if (!(string.IsNullOrWhiteSpace(style.Prompt) && string.IsNullOrWhiteSpace(style.NegativePrompt)))
                                    {
                                        <MudSelectItem Value=style T="PromptStyle">@style.Name</MudSelectItem>
                                    }
                                }
                            }
                        </MudSelect>
                        <GenerateButton Parameters="Parameters" OnGenerate="OnGenerate" OnSkip="OnSkip" OnInterrupt="OnInterrupt" ButtonDisabled=ButtonDisabled />
                    </MudStack>
                </MudItem>
            </MudGrid>
        </MudPaper>
    </EditForm>
</div>

<TagDrawer @ref="PromptDrawer" OnAppendTags="OnPromptTagAppended" HeaderBgColor="var(--mud-palette-success)" ButtonTags=M.ButtonTags />
<TagDrawer @ref="NegativePromptDrawer" OnAppendTags="OnNegativePromptTagAppended" HeaderBgColor="var(--mud-palette-error)" ButtonTags=M.ButtonTags />

@code {
    [Parameter]
    public SharedParameters Parameters { get; set; }
    [Parameter]
    public EventCallback OnGenerate { get; set; }
    [Parameter]
    public EventCallback OnSkip { get; set; }
    [Parameter]
    public EventCallback OnInterrupt { get; set; }
    [Parameter]
    public EventCallback<SharedParameters> ParametersChanged { get; set; }
    [Parameter]
    public EventCallback<AppendedTags> OnPromptTagAppended { get; set; }
    [Parameter]
    public EventCallback<AppendedTags> OnNegativePromptTagAppended { get; set; }
    [Parameter]
    public bool ButtonDisabled { get; set; }
    [Parameter]
    public TagDrawer? PromptDrawer { get; set; }
    [Parameter]
    public TagDrawer? NegativePromptDrawer { get; set; }

    private int _promptLines = 6;
    private int _negativePromptLines = 4;
    private bool _isDrawerOpen = false;

    protected override void OnInitialized()
    {
        if (M.ButtonTags == null) M.GetButtonTags();
    }

    private void HandleStylesChanged(IEnumerable<PromptStyle> styles)
    {
        M.State.Generation.Styles = styles;
    }
}
