.card {
	--bs-card-bg: var(--app-dark-1);
	--bs-card-border-color: var(--app-dark-3);
}

label {
	color: var(--app-dark-5);
}


#prompt {
	color: var(--app-light-2);
}

	#prompt:focus {
		color: var(--positive);
		border-color: var(--positive);
	}

	#prompt::-moz-selection {
		color: var(--app-dark-1);
		background-color: var(--positive);
	}

#negativePrompt {
	color: var(--app-light-2);
}

	#negativePrompt:focus {
		color: var(--negative);
		border-color: var(--negative);
	}

	#negativePrompt::-moz-selection {
		color: var(--app-dark-1);
		background-color: var(--negative);
	}

::placeholder {
	color: var(--app-dark-4);
}

::deep .tags-btn,
.input-group button {
	--bs-btn-color: var(--app-dark-3);
	--bs-btn-bg: var(--app-dark-2);
	--bs-btn-border-color: var(--app-dark-3);
	--bs-btn-hover-color: var(--app-light-5);
	--bs-btn-hover-bg: var(--app-dark-2);
	--bs-btn-hover-border-color: var(--app-dark-3);
	--bs-btn-active-bg: var(--app-dark-3);
	height: 2.8rem;
	width: 4rem;
}

