@inject AppState AppState
@inject DatabaseService DB
@inject ImageService IM

<div>
    <MudCard Elevation="4" Class="@("project-card" + (AppState.CurrentProjectId == ProjectId ? " selected" : ""))">
        <MudCardMedia Image="@Image" />
        <MudCardContent>
            <MudText Typo="Typo.h5">@Name</MudText>
        </MudCardContent>
        <MudCardActions>
            <MudButton OnClick="() => OnSelected.InvokeAsync(ProjectId)" StartIcon="fa-solid fa-check" IconClass="icon"  ButtonType=ButtonType.Button Variant="Variant.Text" IconColor=Color.Success>Load</MudButton>
            <MudButton OnClick="() => OnEdited.InvokeAsync(ProjectId)" StartIcon="fa-solid fa-pen" IconClass="icon" ButtonType=ButtonType.Button Variant="Variant.Text" IconColor="Color.Info">Edit</MudButton>
            <MudButton OnClick="() => OnDeleted.InvokeAsync(ProjectId)" StartIcon="fa-solid fa-trash-can" IconClass="icon" ButtonType=ButtonType.Button Variant="Variant.Text" IconColor="Color.Error">Delete</MudButton>
        </MudCardActions>
    </MudCard>
</div>

@code {
    [Parameter]
    public int ProjectId { get; set; }
    [Parameter]
    public string Name { get; set; }
    [Parameter]
    public EventCallback<int> OnDeleted { get; set; }
    [Parameter]
    public EventCallback<int> OnSelected { get; set; }
    [Parameter]
    public EventCallback<int> OnEdited { get; set; }

    public string Image { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        Image = await SetProjectSampleImage(ProjectId);
    }

    private async Task<string> SetProjectSampleImage(int projectId)
    {
        var image = await DB.GetSampleImage(projectId);
        if (string.IsNullOrWhiteSpace(image))
        {
            var imageEntity = await DB.GetRandomFavorite(projectId);
            if (imageEntity != null)
                image ??= imageEntity.Path;
        }
        if (!string.IsNullOrWhiteSpace(image)) return $"data:image/png;base64,{await IM.LoadImageAsync(image)}";
        else return "./no_image.png";
    }
}
