.prompt-input ::deep textarea {
    color: var(--mud-palette-success) !important;
}

.negative-prompt-input ::deep textarea {
    color: var(--mud-palette-error) !important;
}

.generate-btn {
    height: 60px;
}
